/*Colors*/
/*Font styling*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: 400;
  resize: both;
}

* {
  box-sizing: border-box;
  resize: both;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.main-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 150px 700px 200px 750px 300px 500px;
  grid-template-areas: "nav-bar" "legend" "back" "productive" "sign-up" "footer";
}

.main-wrapper nav, .main-wrapper section, .main-wrapper footer {
  padding: 50px 5%;
}

.main-wrapper .nav-bar {
  grid-area: nav-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-wrapper .nav-bar ul {
  list-style: none;
}

.main-wrapper .nav-bar ul li {
  display: inline;
  margin-left: 1.5em;
}

.main-wrapper .nav-bar ul li a {
  text-decoration: none;
  color: #070439;
  font-family: Raleway;
  font-weight: 700;
}

.main-wrapper .legend {
  grid-area: legend;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  color: #070439;
}

.main-wrapper .legend .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.main-wrapper .legend .intro h1 {
  font-weight: "Open Sans";
  font-family: Raleway;
  font-size: 50px;
  line-height: 1.5;
}

.main-wrapper .legend .intro p {
  line-height: 1.5;
  font-size: 25px;
}

.main-wrapper .legend .intro input {
  width: 60%;
  height: 60px;
  border: 1px solid #585989;
  border-radius: 5px;
  padding-left: 10px;
}

.main-wrapper .legend .intro button {
  width: 30%;
  height: 60px;
  background-color: #3065f8;
  color: white;
  font-weight: Raleway;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #3065f8;
  margin-left: 10px;
  cursor: pointer;
}

.main-wrapper .legend .intro button:focus, .main-wrapper .legend .intro button:hover {
  background-color: #628af9;
  border: 1px solid #628af9;
}

.main-wrapper .legend .image-wrapper {
  width: 50%;
}

.main-wrapper .legend .image-wrapper img {
  width: 100%;
}

.main-wrapper .back {
  padding-bottom: 0;
  background-image: url(images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.main-wrapper .productive {
  grid-area: productive;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: #f6f6fe;
  color: #070439;
}

.main-wrapper .productive .productive-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-wrapper .productive .productive-text header {
  height: 60%;
}

.main-wrapper .productive .productive-text header h2 {
  margin-bottom: 30px;
  font-size: 50px;
}

.main-wrapper .productive .productive-text header p {
  margin-top: 20px;
  width: 80%;
  max-width: 100%;
  line-height: 2;
}

.main-wrapper .productive .productive-text header p a {
  color: #3c9f8f;
}

.main-wrapper .productive .productive-text header p a img {
  vertical-align: middle;
}

.main-wrapper .productive .productive-text header p a img:hover, .main-wrapper .productive .productive-text header p a img:focus {
  opacity: 0.7;
}

.main-wrapper .productive .productive-text header p a:hover, .main-wrapper .productive .productive-text header p a:focus {
  color: #51bdab;
}

.main-wrapper .productive .productive-text .testimonial {
  border-radius: 10px;
  padding: 20px 50px;
  background-color: white;
  box-shadow: 3px 3px 15px 4px #bfbfbf;
  width: 60%;
  height: 35%;
  background-image: url(images/icon-quotes.svg);
  background-repeat: no-repeat;
  background-position: 50px 15px;
  background-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-wrapper .productive .productive-text .testimonial div {
  width: 100%;
  display: flex;
}

.main-wrapper .productive .productive-text .testimonial div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.main-wrapper .productive .productive-text .testimonial div p {
  font-weight: 700;
}

.main-wrapper .productive .productive-text .testimonial div p span {
  font-size: 12px;
  font-weight: 400;
}

.main-wrapper .productive .image-wrapper {
  width: 50%;
}

.main-wrapper .productive .image-wrapper img {
  width: 100%;
}

.main-wrapper .sign-up {
  grid-area: sign-up;
  background: #585989;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-wrapper .sign-up .signup-text {
  width: 40%;
}

.main-wrapper .sign-up .signup-text h3 {
  font-size: 40px;
  font-family: Raleway;
  font-weight: 700;
}

.main-wrapper .sign-up .signup-text p {
  line-height: 2;
  font-size: 18px;
}

.main-wrapper .sign-up .form-wrapper {
  width: 40%;
}

.main-wrapper .sign-up .form-wrapper input {
  height: 60px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #585989;
  margin-bottom: 30px;
  padding-left: 10px;
}

.main-wrapper .sign-up .form-wrapper button {
  width: 40%;
  height: 60px;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 700;
  color: white;
  background-color: #3065f8;
  border-radius: 5px;
  border: 1px solid #3065f8;
  cursor: pointer;
}

.main-wrapper .sign-up .form-wrapper button:focus, .main-wrapper .sign-up .form-wrapper button:hover {
  background-color: #628af9;
  border: 1px solid #628af9;
}

.main-wrapper .footer {
  grid-area: footer;
  background-color: #070439;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-wrapper .footer .attribution {
  text-align: center;
  margin-top: 30px;
}

.main-wrapper .footer .attribution a {
  color: #3c9f8f;
}

.main-wrapper .footer p svg {
  fill: white;
}

.main-wrapper .footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-wrapper .footer .footer-wrapper div {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.main-wrapper .footer .footer-wrapper div ul {
  list-style: none;
  width: 50%;
}

.main-wrapper .footer .footer-wrapper div ul li {
  line-height: 3;
  list-style-position: inside;
}

.main-wrapper .footer .footer-wrapper div ul li a {
  color: white;
  text-decoration: none;
}

.main-wrapper .footer .footer-wrapper div ul li a:hover {
  color: #3065f8;
}

.main-wrapper .footer .footer-wrapper div ul .call {
  list-style-image: url(images/icon-phone.svg);
}

.main-wrapper .footer .footer-wrapper div ul .mail {
  list-style-image: url(images/icon-email.svg);
}

.main-wrapper .footer .footer-wrapper div .socials {
  text-align: center;
}

.main-wrapper .footer .footer-wrapper div .socials li {
  display: inline;
  word-spacing: 1.5em;
}

.main-wrapper .footer .footer-wrapper div .socials li a {
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 50%;
}

.main-wrapper .footer .footer-wrapper div .socials li a:hover {
  border: 1px solid #3065f8;
}

@media screen and (max-width: 1280px) {
  .main-wrapper {
    grid-template-rows: 100px 800px 100px 1300px 400px 700px;
  }
  .main-wrapper nav, .main-wrapper section, .main-wrapper footer {
    padding: 50px 4%;
  }
  .main-wrapper .productive {
    flex-direction: column-reverse;
  }
  .main-wrapper .productive .productive-text {
    width: 100%;
    height: 40%;
  }
  .main-wrapper .productive .productive-text header {
    width: 100%;
  }
  .main-wrapper .productive .productive-text header h2 {
    font-size: 30px;
    text-align: center;
  }
  .main-wrapper .productive .productive-text header p {
    width: 100%;
  }
  .main-wrapper .productive .productive-text header .work-link {
    text-align: center;
  }
  .main-wrapper .productive .productive-text .testimonial {
    width: 100%;
    background-position: 0 10px;
    padding: 20px 30px;
  }
  .main-wrapper .productive .image-wrapper {
    width: 100%;
    height: 60%;
  }
  .main-wrapper .sign-up {
    text-align: center;
  }
  .main-wrapper .sign-up .signup-text {
    font-size: 16px;
    width: 100%;
  }
  .main-wrapper .sign-up .signup-text h3 {
    font-size: 25px;
  }
  .main-wrapper .sign-up .form-wrapper {
    width: 100%;
  }
  .main-wrapper .sign-up .form-wrapper input {
    height: 40px;
    margin-bottom: 10px;
  }
  .main-wrapper .sign-up .form-wrapper button {
    height: 40px;
    width: 90%;
    font-weight: 400;
    font-size: 16px;
  }
  .main-wrapper .footer {
    font-size: 16px;
  }
  .main-wrapper .footer .attribution {
    font-size: 14px;
  }
  .main-wrapper .footer .footer-wrapper {
    flex-direction: column;
    height: 80%;
  }
  .main-wrapper .footer .footer-wrapper div {
    flex-direction: column;
    width: 100%;
    height: 40%;
  }
  .main-wrapper .footer .footer-wrapper div ul {
    width: 100%;
    height: 45%;
  }
  .main-wrapper .footer .footer-wrapper div ul li {
    line-height: 2;
  }
  .main-wrapper .footer .footer-wrapper div .socials {
    word-spacing: 1em;
    margin-top: 50px;
  }
}

@media screen and (max-width: 980px) {
  .main-wrapper {
    grid-template-rows: 100px 1200px 100px 1300px 400px 700px;
  }
  .main-wrapper nav, .main-wrapper section, .main-wrapper footer {
    padding: 50px 4%;
  }
  .main-wrapper .legend {
    flex-direction: column-reverse;
  }
  .main-wrapper .legend .intro {
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
  }
  .main-wrapper .legend .intro h1 {
    font-size: 40px;
    text-align: center;
  }
  .main-wrapper .legend .intro p {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
  }
  .main-wrapper .legend .intro input {
    width: 100%;
    height: 50px;
    margin-top: 20px;
  }
  .main-wrapper .legend .intro button {
    width: 100%;
    margin: 10px 0 0 0;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
  }
  .main-wrapper .legend .image-wrapper {
    width: 100%;
    height: 60%;
  }
  .main-wrapper .productive {
    flex-direction: column-reverse;
  }
  .main-wrapper .productive .productive-text {
    width: 100%;
    height: 40%;
  }
  .main-wrapper .productive .productive-text header {
    width: 100%;
  }
  .main-wrapper .productive .productive-text header h2 {
    font-size: 30px;
    text-align: center;
  }
  .main-wrapper .productive .productive-text header p {
    width: 100%;
  }
  .main-wrapper .productive .productive-text header .work-link {
    text-align: center;
  }
  .main-wrapper .productive .productive-text .testimonial {
    width: 100%;
    background-position: 0 10px;
    padding: 20px 30px;
  }
  .main-wrapper .productive .image-wrapper {
    width: 100%;
    height: 60%;
  }
  .main-wrapper .sign-up {
    text-align: center;
  }
  .main-wrapper .sign-up .signup-text {
    font-size: 16px;
    width: 100%;
  }
  .main-wrapper .sign-up .signup-text h3 {
    font-size: 25px;
  }
  .main-wrapper .sign-up .form-wrapper {
    width: 100%;
  }
  .main-wrapper .sign-up .form-wrapper input {
    height: 40px;
    margin-bottom: 10px;
  }
  .main-wrapper .sign-up .form-wrapper button {
    height: 40px;
    width: 90%;
    font-weight: 400;
    font-size: 16px;
  }
  .main-wrapper .footer {
    font-size: 16px;
  }
  .main-wrapper .footer .attribution {
    font-size: 14px;
  }
  .main-wrapper .footer .footer-wrapper {
    flex-direction: column;
    height: 80%;
  }
  .main-wrapper .footer .footer-wrapper div {
    flex-direction: column;
    width: 100%;
    height: 40%;
  }
  .main-wrapper .footer .footer-wrapper div ul {
    width: 100%;
    height: 45%;
  }
  .main-wrapper .footer .footer-wrapper div ul li {
    line-height: 2;
  }
  .main-wrapper .footer .footer-wrapper div .socials {
    word-spacing: 1em;
    margin-top: 50px;
  }
}

@media screen and (max-width: 736px) {
  .main-wrapper {
    grid-template-rows: 100px 950px 100px 1200px 500px 700px;
  }
  .main-wrapper nav, .main-wrapper section, .main-wrapper footer {
    padding: 50px 3%;
  }
  .main-wrapper .nav-bar img {
    width: 30%;
  }
  .main-wrapper .nav-bar ul li {
    margin-left: 0.3em;
  }
  .main-wrapper .nav-bar ul li a {
    font-size: 14px;
    font-weight: 400;
  }
  .main-wrapper .legend {
    flex-direction: column-reverse;
  }
  .main-wrapper .legend .intro {
    width: 100%;
    height: 40%;
    justify-content: space-evenly;
  }
  .main-wrapper .legend .intro h1 {
    font-size: 30px;
    text-align: center;
  }
  .main-wrapper .legend .intro p {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
  }
  .main-wrapper .legend .intro input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
  }
  .main-wrapper .legend .intro button {
    width: 100%;
    margin: 10px 0 0 0;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
  }
  .main-wrapper .legend .image-wrapper {
    width: 100%;
    height: 60%;
  }
  .main-wrapper .back {
    background-image: url(images/bg-curve-mobile.svg);
  }
  .main-wrapper .productive {
    flex-direction: column-reverse;
  }
  .main-wrapper .productive .productive-text {
    width: 100%;
    height: 50%;
  }
  .main-wrapper .productive .productive-text header {
    width: 100%;
  }
  .main-wrapper .productive .productive-text header h2 {
    font-size: 20px;
    text-align: center;
  }
  .main-wrapper .productive .productive-text header p {
    width: 100%;
  }
  .main-wrapper .productive .productive-text header .work-link {
    text-align: center;
  }
  .main-wrapper .productive .productive-text .testimonial {
    width: 100%;
    background-position: 0 10px;
    padding: 20px 30px;
  }
  .main-wrapper .productive .image-wrapper {
    width: 100%;
    height: 50%;
  }
  .main-wrapper .sign-up {
    text-align: center;
  }
  .main-wrapper .sign-up .signup-text {
    font-size: 16px;
    width: 100%;
  }
  .main-wrapper .sign-up .signup-text h3 {
    font-size: 20px;
  }
  .main-wrapper .sign-up .form-wrapper {
    width: 100%;
  }
  .main-wrapper .sign-up .form-wrapper input {
    height: 40px;
    margin-bottom: 10px;
  }
  .main-wrapper .sign-up .form-wrapper button {
    height: 40px;
    width: 90%;
    font-weight: 400;
    font-size: 16px;
  }
  .main-wrapper .footer {
    font-size: 16px;
  }
  .main-wrapper .footer .attribution {
    font-size: 14px;
  }
  .main-wrapper .footer .footer-wrapper {
    flex-direction: column;
    height: 80%;
  }
  .main-wrapper .footer .footer-wrapper div {
    flex-direction: column;
    width: 100%;
    height: 40%;
  }
  .main-wrapper .footer .footer-wrapper div ul {
    width: 100%;
    height: 45%;
  }
  .main-wrapper .footer .footer-wrapper div ul li {
    line-height: 2;
  }
  .main-wrapper .footer .footer-wrapper div .socials {
    word-spacing: 1em;
    margin-top: 50px;
  }
}

@media screen and (max-width: 480px) {
  .main-wrapper {
    grid-template-rows: 100px 800px 100px 1000px 500px 700px;
  }
  .main-wrapper nav, .main-wrapper section, .main-wrapper footer {
    padding: 50px 3%;
  }
  .main-wrapper .nav-bar img {
    width: 30%;
  }
  .main-wrapper .nav-bar ul li {
    margin-left: 0.3em;
  }
  .main-wrapper .nav-bar ul li a {
    font-size: 14px;
    font-weight: 400;
  }
  .main-wrapper .legend {
    flex-direction: column-reverse;
  }
  .main-wrapper .legend .intro {
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
  }
  .main-wrapper .legend .intro h1 {
    font-size: 30px;
    text-align: center;
  }
  .main-wrapper .legend .intro p {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
  }
  .main-wrapper .legend .intro input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
  }
  .main-wrapper .legend .intro button {
    width: 100%;
    margin: 10px 0 0 0;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
  }
  .main-wrapper .legend .image-wrapper {
    width: 100%;
    height: 50%;
  }
  .main-wrapper .back {
    background-image: url(images/bg-curve-mobile.svg);
  }
  .main-wrapper .productive {
    flex-direction: column-reverse;
  }
  .main-wrapper .productive .productive-text {
    width: 100%;
    height: 60%;
  }
  .main-wrapper .productive .productive-text header {
    width: 100%;
  }
  .main-wrapper .productive .productive-text header h2 {
    font-size: 20px;
    text-align: center;
  }
  .main-wrapper .productive .productive-text header p {
    width: 100%;
  }
  .main-wrapper .productive .productive-text header .work-link {
    text-align: center;
  }
  .main-wrapper .productive .productive-text .testimonial {
    width: 100%;
    background-position: 0 10px;
    padding: 20px 30px;
  }
  .main-wrapper .productive .image-wrapper {
    width: 100%;
  }
  .main-wrapper .sign-up {
    text-align: center;
  }
  .main-wrapper .sign-up .signup-text {
    font-size: 16px;
    width: 100%;
  }
  .main-wrapper .sign-up .signup-text h3 {
    font-size: 20px;
  }
  .main-wrapper .sign-up .form-wrapper {
    width: 100%;
  }
  .main-wrapper .sign-up .form-wrapper input {
    height: 40px;
    margin-bottom: 10px;
  }
  .main-wrapper .sign-up .form-wrapper button {
    height: 40px;
    width: 90%;
    font-weight: 400;
    font-size: 16px;
  }
  .main-wrapper .footer {
    font-size: 16px;
  }
  .main-wrapper .footer .attribution {
    font-size: 14px;
  }
  .main-wrapper .footer .footer-wrapper {
    flex-direction: column;
    height: 80%;
  }
  .main-wrapper .footer .footer-wrapper div {
    flex-direction: column;
    width: 100%;
    height: 40%;
  }
  .main-wrapper .footer .footer-wrapper div ul {
    width: 100%;
    height: 45%;
  }
  .main-wrapper .footer .footer-wrapper div ul li {
    line-height: 2;
  }
  .main-wrapper .footer .footer-wrapper div .socials {
    word-spacing: 1em;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=style.css.map */